extends _head

block title
    title Reversi Online Battle | Join

block body
    input#game-id(type="text" placeholder="ボード名を入力")
    button(type="button" onclick="join()") このボードに参加

    script(src="resources/js/join.js")
