extends _head

block title
    title Reversi Online Battle | Play

block style
    link(rel="stylesheet" href="resources/css/play.css")

block body
    div.score
        canvas#score(width=818 height=104)
    div.board
        canvas#board(width=818 height=818)

    script(src="resources/js/client.js")
