doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Reversi Online Battle | Play
        link(rel="stylesheet" href="resources/css/play.css")

    body
        h1.title Reversi Online Battle
        div.board
            canvas#canvas(width=818 height=818)
        div.info
            p#host {{.host}}
            p#game-id {{.gameId}}
        script(src="resources/js/client.js")
