extends _head

block style
    link(rel="stylesheet" href="resources/css/top.css")

block body
    a.button.waiting(href="waiting")
        span 合戦を
        span 仕掛ける
    a.button.join(href="join") 応戦する
