extends _head

block style
    link(rel="stylesheet" href="resources/css/top.css")

block body
    a.button.waiting(href="waiting")
        span ゲームを
        span 始める
    a.button.join(href="join")
        span ゲームに
        span 参加する
