@import "head"

.button
  display: flex
  font-size: 48px
  width: 480px
  height: 160px
  max-width: 90%
  border-radius: 10px
  margin: 5%
  flex-wrap: wrap
  justify-content: center
  align-items: center
  text-decoration: none

  span
    display: inline-block

.waiting
  background-color: hsl(120, 25%, 75%)
  color: hsl(120, 50%, 25%)

.join
  background-color: hsl(30, 100%, 80%)
  color: hsl(30, 100%, 45%)
